
<div class="container">
  <div class="col-sm-12">
    <h2>About Us</h2>
    <p>Cannascribe Welleness delivers a highter level of care. We focus Holistic Wellness and cater to your needs byt offering personalized education and consultations in the comfort of your home or office.</p>
    <p>Holistic wellness is a means of living a healthy lifestyle that includes looking at the body as an entire system, and addressing its needs as a whole. We want you to get out and enjoy life again!</p>
  </div>


  <div class="col-sm-12"><h3>Our Providers</h3></div>


    <div class="row">

    <div class="col-sm-4"><%= image_tag("dale.jpg", :alt => "about", :width => 350, :align => "left") %></div>
      
    <div class="col-sm-8"> 
    <h4>Dale Buckman, CNP</h4>
    <p>Dale Buckman is a leading expert in the field of Cannabis therapeutics. She is a board-certified nurse practitioner who embodies a functional and lifestyle approach to health and well-being. She emphasizes nutrition and lifestyle changes as it relates to our ability to bring our bodies back into homeostasis resulting in a more balanced pathway to wellness. After learning about the endocannabinoid system, integrating medical cannabis into her teaching’s as a health coach deemed appropriate. She sees her patients as biopsychosocialspiritual beings and lives her life in accordance with these principles.</p>
    <p>After working in internal medicine, Dale recognized that many patients did not fit into the traditional treatment model or were offered pharmaceuticals when lifestyle interventions or a more natural approach would have been the more appropriate route. She believes patients deserve to be equal partners in their quest to reach optimal health, and that a person’s day-to-day life choices and habits are crucial to success. From her many years of health coaching she has found there is no substitute for having in-depth conversations with patients about their health concerns, challenges and goals. Often, small adjustments in diet and lifestyle result in fewer medications and a higher quality of life.   Dale is a graduate of Boston College where she earned academic excellence being inducted into the international honor society for nursing, Sigma Theta Tau. She has practiced as a board-certified massage therapist and Reiki master for the past 15 years and uses her skills as an energy healer to connect with patients on a more spiritual level. She is currently enrolled in doctoral studies and her research interest is cannabis medicine.   "It is my philosophy to offer a personalized, confidential and compassionate experience for my patients. Our office adheres to all Health Insurance Portability and Accountability Act (HIPPA) guidelines to protect the privacy and health information entrusted to us. As an experienced nurse practitioner I offer the individualized care and attention that all clients deserve. Please don't hesitate to contact me at (857) 337-6236 or email atDale@cannascribewellness.com" </p>
    </div>
  </div>


    <div class="row">

    <div class="col-sm-4"><%= image_tag("hong.jpg", :alt => "about", :width => 350, :align => "left") %></div>
      
    <div class="col-sm-8"> 
    <h4>Hong Truong, Doctor of Osteopathic Medicine</h4>
    <p>Dr. Hong Truong attended the University of Virginia, earning a BA in Psychology in 2004 and went on to attend the Edward Via Virginia College of Osteopathic Medicine. He did a Family Residence at Wilson Medical Center in Johnston City, NY. During his intern year, he was awarded the Osteopathic Intern of the year. He later moved to Lawrence, Massachusetts to pursue an Integrative Medicine fellowship where he learned about hypnosis, group visits, functional medicine, and refined his skills in osteopathic manipulation and acupuncture.</p>
    <p>After completing his fellowship, he realized his knowledge and skills were a good fit in the field of addiction medicine. He became an advocate of the empowerment model and found it very gratifying to watch his patients take  initiatives in the decision-making process for their own recovery. Dr. Truong applies the concepts of functional medicine to educate his patients within the healing realm which can be met with the most basic level of diet and nutrition.</p>
    <p>Certifications and Courses Completed:</p>
    <ul>
      <li>American Osteopathic Board of Family Physicians</li>
      <li>Outpatient Opioid Dependence Treatment Certified</li>
      <li>Introductory Hypnosis</li>
      <li>Essentials of Chinese Herbal Medicine</li>
      <li>Helms Medical Acupuncture for Physicians</li>
      <li>Osteopathic Manipulation Therapy Certified</li>
    </ul>
    <p>In his spare time, he is enjoying the wonders of fatherhood. He is amazed to see how time can pass so effortlessly watching his daughter grow and hopes to teach her many things. "It is amazing how she is already opening me up to see the world in many different ways."</p>

    </div>
    </div>
  </div> 
</div>
