
<div class="container4">
      <div class="col-md-4">
        <h2>Contact Us</h2>
      <form id="contact_form" action="#" method="POST" enctype="multipart/form-data">
        <div class="row">
          <label for="name">Your name:</label><br />
          <input id="name" class="input" name="name" type="text" value="" size="30" /><br />
        </div>
        <div class="row">
          <label for="email">Your email:</label><br />
          <input id="email" class="input" name="email" type="text" value="" size="30" /><br />
        </div>
        <div class="row">
          <label for="message">Your message:</label><br />
          <textarea id="message" class="input" name="message" rows="7" cols="30"></textarea><br />
        </div>
        <input id="submit_button" type="submit" value="Send email" />
      </form>   
    </div>

    <div class="col-md-8">
      <h3>Cannscribe Wellness</h3>
      <p>120 Wells Avenue, Newton, Massachusetts 02467, United States</p>
      <p>(857) 337-6236</p>
      <br>
      <h4>Hours</h4>
      <p>Mon By Appointment</p>
      <p>Tue By Appointment</p>
      <p>Wed By Appointment</p>
      <p>Thu By Appointment</p>
      <p>Fri By Appointment</p>
      <p>Sat By Appointment</p>
      <p>Sun Closed</p>
    </div>  

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2951.3774050997386!2d-71.19910978480252!3d42.29181184740194!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e381fc949f7e17%3A0x54da2dd07c287603!2s120+Wells+Ave%2C+Newton%2C+MA+02459!5e0!3m2!1sen!2sus!4v1512442892841" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>


 </div>

