<div class="container">

  <div class="row">
    <div class="col-sm-4"><%= image_tag("we.jpg", :alt => "about", :width => 350, :align => "left") %></div>

    <div class="col-sm-8">
<h1>FAQs</h1>
<dl>
  <dt>Q: How long will my appointment take?</dt>
  <dd>A: Appointments generally take about an hour but some need more or less time for education. If you have time constraints, we can certainly work within those parameters</dd>
</dl>
<dl>
  <dt>Q: It is very difficult for my mother to travel. Do you make house calls?</dt>
  <dd>A: Our providers are very happy to come to your location. We do consultations in the privacy and comfort of your home as well as in-office (yours or ours) for our busy professionals.</dd>
</dl>
<dl>
  <dt>Q: What are the qualifying conditions in Massachusetts?</dt>
  <dd>A: Cancer, Glaucoma, HIV, AIDS, Hepatitis C, ALS, Crohn's Disease, Parkinson's disease, Multiple sclerosis, and any "debilitating" condition as determined by a healthcare provider. "Debilitating" is defined as "causing weakness, cachexia, wasting syndrome, intractable pain (chronic pain), or nausea, or impairing strength or ability, and progressing to such an extent that one or more of a patient's major life activities is substantially limited." Contact us to see if you qualify. </dd>
</dl>
<dl>
  <dt>Q: Does insurance cover my visit?</dt>
  <dd>A: Unfortunately, most insurance providers do not currently cover this type of appointment. However, we do accept credit card and cash payment.</dd>
</dl>
<dl>
  <dt>Q: How will I get my medical records to you?</dt>
  <dd>A: If you have a "patient portal" through your doctors office, you may be able to download them from your     portal. If not, then you should call your doctor's office and request to pick them up and bring them with you.
</dd>
</dl>
<dl>
  <dt>Q: Will you be able to write me a prescription for medical cannabis?</dt>
  <dd>A: Although medical cannabis is legal in Massachusetts, the federal government still classifies it as a schedule I drug. Therefore, medical providers are not able to write a prescription that you can take to the pharmacy to be filled. In compliance with state laws, medical providers supply the patient with a medical marijuana certification which makes them eligible to register with the Massachusetts Department of Public Health Medical Use of Marijuana Program. All instructions are provided to patient at visit and are available on the state website.  
</dd>
</dl>
    </div>
  </div>
</div>
