
<div class="container">
    <center><h3>Products</h3></center>
      <div class="row">
        <div class="col-md-4">
          <div class="panel panel-primary">
          <div class="panel-heading panel-primary">Cannacoach Consulting (In Home or Location) $275.00</div>
            <div class="panel-body">
             <p><%= image_tag("cw.jpg", :alt => "cannascribe", :width => 300, :align=> "middle") %></p>
          </div>
          </div> 
        </div>

        <div class="col-md-4">
          <div class="panel panel-success">
          <div class="panel-heading">Cannacoach Consulting (In Office) <br> $200.00</div>
          <div class="panel-body">
             <p><%= image_tag("cw.jpg", :alt => "cannascribe", :width => 300, :align=> "middle") %></p>
          </div>
          </div>
        </div>
      </div>
</div>  
 

