<div class="container">

<div class="col-sm-4"><%= image_tag("happy.jpg", :alt => "about", :width => 350, :align => "left") %></div>

<div class="col-sm-8">
<h2>Testimonials</h2>

<h4>Larry G.</h4>
<p>"My wife insisted I get evaluated and I am so happy I did. Dale was knowledgable, friendly, and made me feel comfortable. I think my wife made a new friend."</p>

<h4>Debbie L.</h4>
<p>"I suffer from chronic back pain and it was very warming to finally talk to a healthcare provider with so much compassion. Dale gave me hope."</p>

<h4>Laurie B.</h4>
<p>"Dale rocks!!! She truly cares about helping people."</p>

<h4>Marty C.</h4>
<p>"I'm sorry I didn't come sooner. Dale was very knowledgeable and answered all of my questions. She truly cares about her patients."</p>

<h4>Karen T.</h4>
<p>"I highly recommend Cannascribe. I really loved Dale's energy and passion for helping people. She really cares."</p>

</div>
  </div>